---
extends:
  - "../.eslintrc"

env:
  mocha: true

globals:
  expect: false

rules:
  no-unused-expressions: "off"  # Disable for Chai expression assertions.
  max-nested-callbacks: "off"   # Disable for nested describes.
  no-magic-numbers: "off"
  promise/always-return: "off"  # Just have `expect()` calls in `.then()`s.
