language: node_js

node_js:
  - "6"
  - "8"
  # TODO: `mock-fs` doesn't support node10 yet
  # https://github.com/FormidableLabs/lank/issues/9
  # https://github.com/tschaub/mock-fs/issues/238
  #- "10"

sudo: false

branches:
  only:
    - master

cache: yarn

install:
  - yarn install --frozen-lockfile

script:
  - yarn --version
  - yarn run check
